

.imgoflist {
    position: absolute;
    left: 45%;
    top: 25%;
    max-width: 15%;
}

#deckTexts {
    display: grid;
    text-align: center;
    grid-template-areas: 
    ". header ."
    "water fire random";
    justify-content: center;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
}

#header {
    grid-area: header;
}

#water {
    grid-area: water;
}

#fire {
    grid-area: fire;
}

#random {
    grid-area: random;
}

.choice::after {
    display: block;
    content: '';
    border-bottom: 2px black solid;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.choice:hover:after {
    transform: scaleX(1);
}

.divmobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mobileList {
    max-width: 150px;
}