.listdiv {
    display: inline-block;
    margin-left: 200px;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 200px;
    max-width: 500px;
    /* transition: margin-left 2s; */
}